

.hero
{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-bottom
{
    margin-bottom: 50px;
}

.form
{
    position: relative;
}

.form input, .form textarea
{
    box-sizing: border-box;
    resize: none;
}

.form input:focus, .form textarea:focus
{
    box-shadow: none;
}

.btn-send
{
    position: relative;
    min-width: 150px;
    height: 40px;
}

.btn-send img
{
    width: 22px;
    position: relative;
    float: right;
}

.check-error
{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

